body {
    padding-bottom: 50px;
}

section, header, footer {
    padding-top: 50px;
}

.content-center {
    text-align: center;
}

.content-left {
    text-align: left;
}

/* Pre-loader icon with spinning animation */
.pre-loader {
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Fix for moving navbar when modal is opened. */
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    padding-right: 17px;
}

/* Custom bootstrap modal width */
.modal .modal-dialog {
    width: 80%;
}

@media (max-width: 764px) {

    .modal .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
}

#tinyMCE {
    margin-left: auto;
    margin-right: auto;
}

#category {
    margin-top: 24px;
    margin-bottom: 12px;
}

.negative-margin-bottom-10 {
    margin-bottom: -10px;
}

#social {
    margin-top: 8px;
    margin-bottom: 8px;
}