<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Personal website">
    <meta name="author" content="Martynas Šustavičius">
    <title>{TITLE}</title>
    <link rel="shortcut icon" href="/assets/img/smworks.png" type="image/png"/>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom style for SMWorks -->
    <link href="/assets/css/smworks.css" rel="stylesheet">
</head>
<body>

<header class="container content-center">

    <h1>{TITLE}</h1>
    <p class="lead">{CODE} {ERROR}</p>

</header>

</body>
</html>